<article class="post">
  <div class="title">
    <a target="_blank">{{title}}</a>
  </div>
  <div class="meta">
  by {{user.username}} on {{format_date createdAt}}
    |
    <a href="/post/{{id}}">{{comments.length}}</a>
  </div>
</article>
{{!-- createsdAt was included here and in the model --}}